@charset "utf-8";

/* 基礎のスタイル */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900|Noto+Serif+JP:400,500,600,700|Roboto:400,400i,500,500i,700,700i&display=swap&subset=japanese');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Noto Sans JP', sans-serift;
    overflow-x: hidden;
    color: #333;
}

a {
    text-decoration: none !important;
}

* a {
    text-decoration: none !important;
    color: unset;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.0;
}

img {
    display: block;
    max-width: 100%;
}